@import '../../styles/variables.scss';

.ForcePowerShowPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 36px;
  .force-power-overview {
    background-color: $white;
    width: 1104px;
    padding: 36px 0 36px 36px;
    display: flex;
    color: $black;
    justify-content: space-between;
    align-items: center;
    .submit-button {
      background-color: $eoteGreen;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 6px;
      margin: 3px 0;
      border: none;
      outline: none;
      cursor: pointer;
      color: $white;
      &:hover {
          background-color: $green;
      }
  }
    .force-power-data {
      h1 {
        font-size: 1.5em;
        span {font-weight: bold;}
      }
      p {
        font-size: 0.9em;
        font-weight: bold;
      }
    }
    .force-power-legend {
      width: 276px;
      .force {
        color: $white;
        padding: 4px;
        text-transform: uppercase;
        font-size: 0.9em;
        margin: 0 24px 6px 0;
        background-color: $eoteGreen;
      }
    }
  }
  .upgrades {
    display: grid;
    grid-template-columns: 276px 276px 276px 276px;
    grid-template-rows: repeat(9, 176px);
    justify-content: center;
    background-color: $white;
    padding-left: 36px;
    .upgrade {
      display: flex;
      flex-direction: column;
      width: 100%;
      .up-links {
        display: grid;
        width: calc(100% - 36px);
        grid-template-rows: 36px;
        gap: 36px;
        .up-link {
          display: flex;
          justify-content: center;
          .link-line {
            height: 36px;
            width: 12px;
            background-color: lighten($eoteGreen, 5%);
          }
        }
      }

      .upgrade-row {
        display: grid;
        grid-template-columns: auto 36px;
        align-items: center;
        
        .upgrade-box {
          border: 6px double $eoteGreen;
          padding: 3px;
          height: 140px;
          box-sizing: border-box;
          position: relative;
          background-color: $eoteWhiteGreen;
          &.purchased-false {
            opacity: 0.65;
          }
          .upgrade-name {
            background-color: $eoteGreen;
            padding: 4px;
            font-size: 16px;
            display: flex;
            z-index: 10;
            font-size: 0.9em;
            text-transform: uppercase;
            letter-spacing: 2px;
            span {
              flex-grow: 1;
              margin-left: 6px;
            }
            i {
              flex-shrink: 1;
            }
            input {
              border: none;
              outline: none;
              margin: 0;
              padding: 0;
              align-self: flex-start;
            }
          }
          .upgrade-description {
            font-size: 0.8em;
            color: $black;
            padding: 4px;
            overflow-y: scroll;
            height: 103px;
          }
          .upgrade-cost {
              background-color: $eoteGreen;
              padding: 4px;
              text-align: center;
              display: inline-block;
              width: 100px;
              position: absolute;
              border-top-right-radius: 6px;
              border-bottom-left-radius: 6px;
              font-size: 12px;
              right: 0;
              bottom: -10px;
              z-index: 20;
          }
        }
        .right-link {
          height: 12px;
          width: 36px;
          &.true {
            background-color: lighten($eoteGreen, 5%);
          }
        }
      }
    }
  }
}