@import 'variables';


.Login, .Signup, .Delete, .Edit {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginForm, .signupForm, .deleteUserForm, .newCampaignForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.formTitle {
    margin: 24px;
    text-transform: uppercase;
    text-align: center;
    .title {
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    .subtitle {
        font-size: 0.8em;
    }
}

.warningText {
    text-align: center;
    color: $red;
}
.formFieldContainer {
    display: flex;
    margin: 12px;
    .iconBox {
        height: 60px;
        width: 60px;
        border: 2px solid $white;
        p {
            font-size: 40px;
            line-height: 60px;
            text-align: center;
        }
    }
    .formField {
        .label {
            background-color: $white;
            color: $black;
            text-transform: uppercase;
            height: 25px;
            font-size: 16px;
            line-height: 25px;
            padding-left: 6px;
            width: 300px;
        }
        input, select, textarea {
            color: $yellow;
            height: 30px;
            font-size: 18px;
            line-height: 30px;
            padding-left: 6px;
            background: none;
            outline: none;
            border: none;
            width: 300px;
            &.warning {
                color: $red;
            }
        }
        textarea {
            height: 120px;
            resize: none;
            font-size: 14px;
            line-height: 24px;
        }
    }
    .button.submit {
        display: flex;
        justify-content: space-evenly;
        background-color: $greenTransparent;
        border: 1px solid $greenFaded;
        color: $whiteFaded;
        padding: 3px 12px;
        margin-top: 3px;
        &:hover {
            cursor: pointer;
        }
    }
    button.warning {
        width: 300px;
        background: none;
        border: 2px solid $red;
        outline: none;
        color: $red;
        height: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
        &:hover {
            background-color: $red;
            color: $white;
            cursor: pointer;
        }
    }
}
// .formField {

//     input {
//         background: $greenTransparent;
//         border: 2px solid $greenFaded;
//         color: $whiteFaded;
//         font-size: 20px;
//         outline: none;
//         padding: 12px;
//         width: 25vw;
//         margin-bottom: 24px;
//         border-radius: 3px;
//         &.button {
//             display: none;
//         }
//         &.warning {
//             background-color: $redTransparent;
//             border: 2px solid $redFaded;
//         }
//     }

//     button.warning {
//         background-color: $redTransparent;
//         border: 2px solid $redFaded;
//         color: $whiteFaded;
//         padding: 12px;
//         text-transform: uppercase;
//         border-radius: 3px;
//         width: 25vw;
//         font-size: 16px;
//         &:hover {
//             cursor: pointer;
//             background-color: $redFaded;
//             border: 2px solid $red;
//             color: $white;
//         }

//     }

// }

// .authentication-errors {
//     color: $red;
//     margin: 6px;
// }

// .Delete {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     .warningText {
//         text-align: center;
//         width: 75%;
//         color: $red;
//         font-size: 16px;
//         line-height: 1.2em;
//     }
// }