.deleteUserLink {
    color: $red;
    text-align: center;
    margin: 24px 0;
    &:hover {
        cursor: pointer;
    }
}

.DeleteUser {
    p {
        text-align: center;
    }
}

.Inbox {
    display: flex;
    flex-direction: column;
}

.message {
    &:first-of-type {
        border-top: 2px solid $tealDark;
    }
    border-bottom: 2px solid $tealDark;
    margin: 0 24px;
    &.unread {
        background-color: $tealTransparent;
        .messageSnippet {
            font-weight: bold;
        }
    }
    &.expanded {
        .messageBody {
            display: flex;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: $tealTransparent;
    }
}
.messageSnippet {
    display: flex;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    .messageSender {
        width: 25%;
    }
    .messageSubject {
        width: 55%;
    }
    .messageTimestamp {
        width: 20%;
        text-align: right;
    }
}

.messageBody {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
    display: none;
    flex-direction: column;
    .messageLink {
        background-color: $green;
        padding: 6px 12px;
        display: inline-block;
        border-radius: 3px;
        margin-bottom: 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        align-self: center;
        margin: 12px 0;
    }
}