@import 'variables';

.Campaigns {
    padding-top: 25px;
    text-align: center;
    position: relative;
}

.NewCampaign {
    overflow-y: scroll;
    max-height: 100%;
}

.campaignsFilter {
    display: flex;
    padding: 0 20px;
    border-bottom: 2px solid $whiteFaded;
    p {
        flex: 1;
        text-align: center;
        padding: 6px 12px;
        border: 1px solid $whiteFaded;
        border-top-left-radius: 18px;
        border-top-right-radius: 6px;
        &:hover {
            cursor: pointer;
        }
    }

    .allFilter {
        border-color: $greenFaded;
        &.true {
            background-color: $greenFaded;
        }
    }

    .myFilter {
        border-color: $blueFaded;
        &.true {
            background-color: $blueFaded;
        }
    }
}

.newCampaign {
    height: 24px;
    font-size: 16px;
    padding: 4px;
    background-color: $green;
    position: absolute;
    top: 72px;
    left: 20px;
    width:  72px;
    box-sizing: border-box;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

.formField {
    .radioContainer, .checkboxContainer {
        display: flex;
        justify-content: space-evenly;
        .radioSelect, .checkboxSelect {
            .radioInput, .checkboxInput {
                display: none;
                &:checked+label {
                    background-color: $yellowFaded;
                    border-color: $yellow;
                    color: $white;
                }
            }
            .radioInput+label, .checkboxInput+label {
                background-color: $yellowTransparent;
                border: 1px solid $yellowFaded;
                color: $whiteFaded;
                padding: 3px 12px;
                margin-top: 3px;
                display: inline-block;
                width: 115px;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                }
            }
            .checkboxInput+label {
                width: 275px;
            }
        }
    }
    .checkboxContainer {
        flex-direction: column;
        padding-left: 3px;
    }
}

.grid-container {
    display: grid;
    margin-top: 50px;
    width: calc(28 * 40px);
    grid-template-columns: 30% 30% 10% 10% 15% 1fr;
    justify-content: space-evenly;
    align-content: center;

    .heading {
        font-size: 1.2em;
        font-weight: 600;
        color: #efefef;
    }

    .grid-row {
        
        display: contents;
        text-align: left;
        background-color: none;
        color: $white;

        .grid-master, .grid-tile {
            text-align: left;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        
        .grid-item2 {
            text-align: center;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        &:hover > div {
            cursor: pointer;
            background-color: $eoteNavy;
            color: $eoteTan;
        }
    }
}