@import 'variables';

// ===== NEW CAMPAIGN PAGE ===== //
.NewCampaign {
    overflow-y: scroll;
    max-height: 100%;
}

// ===== CAMPAIGN SHOW PAGE ===== //

.Campaign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaignHeader {
    .title {
        font-size: 1.3em;
        letter-spacing: 2px;
    }
    .subtitle {
        font-size: 0.8em;
        letter-spacing: 1px;
        font-family: $aurebesh;
    }
}

.campaignDivider {
    width: 95%;
    margin: 12px 0;
}

.campaignStatus {
    display: flex;
    justify-content: center;
    padding: 12px;
    .campaignOpen, .campaignPrivacy {
        margin: 0 12px;
        font-size: 0.8em;
        letter-spacing: 1px;
        text-transform: uppercase;
        .indicator {
            color: $green;
        }
        &.false {
            .indicator {
                color: $red;
            }
        }
    }
}

.campaignStartDate, .campaignEndDate {
    padding: 6px;
}

.campaignHeader {
    text-align: center;
}
.campaignJoined {
    background-color: $green;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 6px;
    &.false {
        background-color: $teal;
        &:hover {
            cursor: pointer;
        }
    }
}

.campaignLinkItem {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        cursor: pointer;
        color: $orange;
    }
}

.campaignDetails {
    display: flex;
    margin-top: 12px;
    .sectionHeader {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 6px;
        font-weight: bold;
        text-align: center;
    }
    section {
        box-sizing: border-box;
        padding: 0 12px;
        text-align: left;
        border-right: 1px solid $white;
        &:last-child {
            border: none;
        }
    }
    .campaignLinks {
        width: 25%;
    }
    .campaignOverview {
        width: 35%;
    }
    .campaignInformationContainer {
        width: 40%;
    }
    .overviewDetailHeading, .overviewInformationHeading {
        text-transform: uppercase;
        font-weight: light;
        letter-spacing: 1px;
        margin: 12px 0 6px 0;
    }
    .overviewDetail, .informationDetail {
        padding-left: 32px;
        font-weight: light;
    }
    .informationDetail {
        font-size: 14px;
        line-height: 18px;
    }
}

.campaignFooter {
    font-size: 0.8em;
}

// ===== CAMPAIGN FILTER PAGE ===== //
.CampaignFilter {
   display: flex;
   flex-wrap: wrap;
}

.CampaignLink {
    border: 1px solid $tealFaded;
    background-color: $tealTransparent;
    border-radius: 3px;
    padding: 12px;
    margin: 12px;
    &:hover {
        cursor: pointer;
        border-color: $teal;
        background-color: $tealFaded;
    }
    .campaignHeader {
        .title {
            font-size: 16px;
        }
        .subtitle {
            font-size: 12px;
        }
    }
    &:nth-of-type(2n)  {
        border-color: $orangeFaded;
        background-color: $orangeTransparent;
        &:hover {
            border-color: $orange;
            background-color: $orangeFaded;
        }
   }
   &:nth-of-type(3n)  {
        border-color: $greenFaded;
        background-color: $greenTransparent;
        &:hover {
            border-color: $green;
            background-color: $greenFaded;
        }
    }
    &:nth-of-type(4n)  {
        border-color: $yellowFaded;
        background-color: $yellowTransparent;
        &:hover {
            border-color: $yellow;
            background-color: $yellowFaded;
        }
    }
    &:nth-of-type(5n)  {
        border-color: $blueFaded;
        background-color: $blueTransparent;
        &:hover {
            border-color: $blue;
            background-color: $blueFaded;
        }
    }
}
.campaignsFilter {
    display: flex;
    padding: 0 20px;
    border-bottom: 2px solid $whiteFaded;
    p {
        flex: 1;
        text-align: center;
        padding: 6px 12px;
        border: 1px solid $whiteFaded;
        border-top-left-radius: 18px;
        border-top-right-radius: 6px;
        &:hover {
            cursor: pointer;
        }
    }

    .allFilter {
        border-color: $greenFaded;
        &.true {
            background-color: $greenFaded;
        }
    }

    .myFilter {
        border-color: $blueFaded;
        &.true {
            background-color: $blueFaded;
        }
    }
}

.newCampaign {
    height: 24px;
    font-size: 16px;
    padding: 4px;
    background-color: $green;
    position: absolute;
    top: 72px;
    left: 20px;
    width:  72px;
    box-sizing: border-box;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

// ===== My Campaign Page ===== //

.MyCampaigns {
    display: flex;
    flex-wrap: wrap;
    .noCampaignText {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        color: $yellow;
        margin-top: 24px;
    }
    .miniCardList {
        display: flex;
        justify-content: center;
        .miniCard {
            margin: 24px 12px;
        }
    }
    .campaignList {
        display: flex;
    }
}