@import 'variables';

.characters {
    padding-top: 25px;
    text-align: center;
    position: relative;
}

.charactersFilter {
    display: flex;
    padding: 0 20px;
    border-bottom: 2px solid $whiteFaded;
    p {
        flex: 1;
        text-align: center;
        padding: 6px 12px;
        border: 1px solid $whiteFaded;
        border-top-left-radius: 18px;
        border-top-right-radius: 6px;
        &:hover {
            cursor: pointer;
        }
    }
    .allFilter {
        border-color: $tealFaded;
        &.true {
            background-color: $tealFaded;
        }
    }

    .pcFilter {
        border-color: $blueFaded;
        &.true {
            background-color: $blueFaded;
        }
    }

    .npcFilter {
        border-color: $greenFaded;
        &.true {
            background-color: $greenFaded;
        }
    }

    .nemesisFilter {
        border-color: $yellowFaded;
        &.true {
            background-color: $yellowFaded;
        }
    }

    .rivalFilter {
        border-color: $orangeFaded;
        &.true {
            background-color: $orangeFaded;
        }
    }

    .minionFilter {
        border-color: $redFaded;
        &.true {
            background-color: $redFaded;
        }
    }
}

.newCharacter {
    height: 24px;
    font-size: 16px;
    padding: 4px;
    background-color: $green;
    position: absolute;
    top: 72px;
    left: 20px;
    width:  72px;
    box-sizing: border-box;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

.characterLinks {
    margin-top: 12px;
    .charName {
        padding: 6px 12px;
        &:hover {
            cursor: pointer;
            color: $orange;
        }
    }
}


.character-container {
    padding: 12px;
    padding-top: 48px;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url('../images/swrpg-bg-5.jpeg');
    background-size: cover;
    font-family: $teko;
    color: $black;
    
    .character-details {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        font-size: 18px;
        text-transform: uppercase;

        .character-overview {
            width: 50%;
            background-color: $blackTransparent;
            margin: 12px;
            margin-left: 24px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .character-name {
                font-size: 1.7em;
                text-transform: uppercase;
                padding: 12px;
                letter-spacing: 3px;
                font-weight: 100;
                font-family: $teko;
            }

            .character-species {
                padding-left: 18px;
                padding-bottom: 6px;
            }

            .character-career {
                padding-bottom: 6px;
                padding-left: 18px;
            }

            .character-specializations {
                padding-left: 24px;
                padding-bottom: 6px;
            }
        }

        .character-attributes {

            .derived {
                display: flex;
                justify-content: space-evenly;
                .attribute-container {
                    border: 4px solid $eoteNavy;
                    background-color: $white;
                    flex: 1;
                    margin: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;

                    .label {
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background-color: $eoteNavy;
                        width: 100%;
                        color: $white;
                        text-align: center;
                        font-size: 0.8em;
                    }

                    .values {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .current, .threshold {
                            flex: 1;
                        }

                        .current {
                            border-left: 1px solid $blackFaded;
                            .sublabel {
                                background-color: $eoteTeal;
                                color: $black;
                            }
                        }

                        .threshold {
                            
                            .sublabel {
                                background-color: $eoteMaroon;
                                color: $white;
                            }
                        }

                        .value {
                            font-size: 1.3em;
                            font-family: $aurebesh;
                            padding: 12px 6px;
                            text-align: center;
                        }

                        .sublabel {
                            text-align: center;
                            font-size: 0.8em;
                            padding: 3px;
                            padding-top: 6px;
                            box-sizing: border-box;
                            line-height: 0.8em;
                        }
                    }
                }
            }

            .characteristics {
                display: flex;
                justify-content: space-between;

                .characteristic {
                    background-color:  $eoteOlive;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    margin: 0 6px;
                    border-radius: 6px;

                    .rank {
                        border: 2px double $black;
                        background-color: $white;
                        text-align: center;
                        font-family: $aurebesh;
                        font-size: 1.3em;
                        border-radius: 50%;
                        padding: 6px;
                        width: 1.5em;
                        height: 1.5em;
                        line-height: 1.5em;
                        margin: 3px 6px;
                    }

                    .label {
                        background-color: $eoteMaroon;
                        color: $eoteTan;
                        text-align: center;
                        font-size: 12px;
                        height: 18px;
                        line-height: 18px;
                        border-radius: 6px;
                        width: 95%;
                        margin: 3px;
                        margin-top: 0;
                    }
                }
            }

        }

        .character-skills {
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .generalSkills {
                display: flex;
                flex-wrap: wrap;
                .skill {
                    width: 50%;
                }
            }

            .combatSkills, .knowledgeSkills {
                width: 50%;
                .skill {
                    width: 100%;
                }
            }

            .skillsRow {
                background-color: $blackTransparent;
                width: 100%;
                box-sizing: border-box;
                margin: 6px;
                padding: 6px;
                display: flex;
            }

            .skill {
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .skillName {
                    text-transform: none;
                    font-size: 16px;
                }
                &.true {
                    font-weight: bold;
                    font-style: italic;
                }

                .skillRanks {
                    display: flex;

                    .skillRank {
                        background-color: $whiteTransparent;
                        height: 10px;
                        width: 20px;
                        border-left: 1px solid $blackFaded;
                    }

                    .one {
                        background-color:  $redTransparent;
                        &.true {
                            background-color: $redFaded;
                        }
                    }

                    .two {
                        background-color: $orangeTransparent;
                        &.true {
                            background-color: $orangeFaded;
                        }
                    }

                    .three {
                        background-color: $yellowTransparent;
                        &.true {
                            background-color: $yellowFaded;
                        }
                    }

                    .four {
                        background-color: $greenTransparent;
                        &.true {
                            background-color: $greenFaded;
                        }
                    }

                    .five {
                        background-color: $tealTransparent;
                        &.true {
                            background-color: $tealFaded;
                        }
                    }
                }
            }
        }
    }

    .character-talents {
        width: 50%;
        box-sizing: border-box;
    }
}

.divider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .dividerLine {
        border: 6px solid $eoteTan;
        border-radius: 6px;
        flex: 1;
    }
    .dividerLabel {
        background-color: $eoteNavy;
        color: $eoteTan;
        font-size: 12px;
        height: 18px;
        border-radius:  9px;
        line-height: 18px;
        padding: 0 18px;
        width: 15%;
        text-align: center;
    }
}

.character-add {
    font-weight: bold;
    font-size: larger;
    margin-left: 15px;
    &:hover {
        cursor: pointer;
        color: $orange;
    };
}

.new-character {
    display: flex;
    margin-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;

    .name {
        margin-right: 25px;
    }
    .species {
        margin-right: 92px;
    }
    .type {
        margin-right: 25px;
    }
}

.submit {
    margin-left: 25px;
    margin-top: 10px;
}
