@import 'variables';

.story-input {
    height: 250px;
    border: 2px solid $whiteTransparent;
    border-radius: 8px;
    background-color: $blackTransparent;
    color: $white;
    font-size: large;
}

.mechanics-container {
    display: flex;

    .mechanic {
        border: 2px solid $whiteTransparent;
        border-radius: 8px;
        width: 500px
    }
}


.species-container {
    display: flex;
    
    .species-list {
        width: 250px;
        border: 2px solid $whiteTransparent;
        border-radius: 8px;
        list-style-type: none;
        text-align: left;
    }
    
    .species-comparison {
        width: 100%;
        height: 250px;
        border: 2px solid $whiteTransparent;
        border-radius: 8px;
    }

    .options-list {
        height: 175px;
        border: 2px solid $whiteTransparent;
        border-radius: 8px;
        list-style-type: none;
        text-align: left;
    }
}

.select {
    display: flex;
    width: 200px;
    border: 2px solid $whiteTransparent;
    border-radius: 8px;
    background-color: $black;
    color: $white
}
