@import 'variables';

.characters {
    padding-top: 48px;
}

.charName {
    padding: 6px 12px;
    &:hover {
        cursor: pointer;
        color: $orange;
    }
}

.character-container {
    padding-top: 48px;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url('../images/swrpg-bg-2.jpeg');
    background-size: cover;
    font-family: $teko;
    color: $black;
    
    .character-details {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        font-size: 18px;
        text-transform: uppercase;

        .character-overview {
            width: 50%;
            background-color: $blackTransparent;
            margin: 12px;
            margin-left: 24px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .character-name {
                font-size: 1.7em;
                text-transform: uppercase;
                padding: 12px;
                letter-spacing: 3px;
                font-weight: 100;
                font-family: $teko;
            }

            .character-species {
                padding-left: 18px;
                padding-bottom: 6px;
            }

            .character-career {
                padding-bottom: 6px;
                padding-left: 18px;
            }

            .character-specializations {
                padding-left: 24px;
                padding-bottom: 6px;
            }
        }

        .character-attributes {

            .derived {
                display: flex;
                justify-content: space-evenly;
                .attribute-container {
                    border: 4px solid $navy;
                    background-color: $white;
                    flex: 1;
                    margin: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $navy;
                    box-sizing: border-box;

                    .label {
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background-color: $navy;
                        width: 100%;
                        color: $white;
                        text-align: center;
                    }

                    .values {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .current, .threshold {
                            flex: 1;
                        }

                        .current {
                            .sublabel {
                                background-color: $teal;
                                text-align: center;
                                color: $white;
                                font-size: 0.8em;
                                padding: 3px;
                            }
                        }

                        .threshold {
                            border-left: 1px solid $blackFaded;
                            .sublabel {
                                background-color: $maroon;
                                text-align: center;
                                color: $white;
                                font-size: 0.8em;
                                box-sizing: border-box;
                                padding: 3px;
                            }
                        }

                        .value {
                            font-size: 1.3em;
                            font-family: $aurebesh;
                            padding: 12px 6px;
                            text-align: center;
                        }
                    }
                }
            }
            .rank {
                position: fixed;
                left: 505px
            }
        }

        .character-skills {
            border: 1px solid white;

            .rank {
                position: fixed;
                left: 505px
            }

            .xp {
                position: fixed;
                left: 550px;
            }
        }
    }

    .character-talents {
        width: 50%;
        box-sizing: border-box;
    }
}

.character-add {
    font-weight: bold;
    font-size: larger;
    margin-left: 15px;
    &:hover {
        cursor: pointer;
        color: $orange;
    };
}

.new-character {
    display: flex;
    margin-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;

    .name {
        margin-right: 25px;
    }
    .species {
        margin-right: 92px;
    }
    .type {
        margin-right: 25px;
    }
}

.submit {
    margin-left: 25px;
    margin-top: 10px;
}
