@import 'variables';

.userChat {
    border: 3px solid $black;
    background-color: $blackFaded;
    box-shadow: -3px -3px -3px -3px $black;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
}

.userChat.expanded {
    height: 45vh;
}

.userChat.hidden {
    display: none;
}

.channelLinks {
    display: flex;
}

.collapsed {
    .messages-container {
        display: none;
    }
    .userChatInput {
        display: none;
    }
}

.userChatInput {
    font-size: 20px;
    padding: 6px;
    outline: none;
    background: none;
    color: $white;
    border: 1px solid $whiteTransparent;
    margin: 4px;
}

.toggle {
    text-align: center;
    color: $whiteFaded;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        color: $white;
        background-color: $whiteInvisible;
    }
}

.messages-container {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messagesEnd {
    width: 100%;
    height: 1px;
}

.message {
    font-size: 14px;
    letter-spacing: 1px;
    width: 65%;
    border: 1px solid $tealFaded;
    background-color: $tealTransparent;
    margin: 8px;
    border-radius: 2px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .message-sender {
        color: $tealFaded;
    }
}

.message.true {
    background-color: $orangeTransparent;
    border-color: $orangeFaded;
    align-self: flex-end;
    .message-sender {
        color: $orangeFaded;
    }
}

.message-text {
    padding: 12px;
}

.message-sender {
    font-size: 0.8em;
    padding: 4px;
}