@import 'variables';

.loading {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}

.loading-image {
    height: 10vh;
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    img {
        height: 100%;
    }
}