@import 'reset';
@import 'variables';
@import 'forms';
@import 'auth';
@import 'loading';
@import 'navigation';
@import 'mission-control';
@import 'characters';
@import 'user';
@import 'campaigns';

body {
    background-color: $black;
    color: $white;
    font-family: $primary;
    height: 100vh;
    width: 100vw;
    
}

.sw {
    font-family: $aurebesh;
    &.userId:hover {
        font-family: $primary;
    }
}

.App {
    align-items: center;
    background-image: url('../images/grid.jpeg');
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 2vh 0;
    width: 100vw;

    .navigationContainer {
        box-sizing: border-box;
        height: 100%;
        width: 5%;
    }

    .viewScreen {
        background-color: $tealTransparent;
        border: 3px solid $tealFaded;
        border-radius: 50px 10px 50px 10px;
        box-sizing: border-box;
        height: 100%;
        width: 75%;
        overflow-y: scroll;
    }

    .chatContainer {
        border:  1px solid blue;
        box-sizing: border-box;
        height: 100%;
        width: 20%;
    }
}