@import 'reset';
@import 'variables';
@import 'auth';
@import 'loading';
@import 'mission-control';
@import 'characters';

body {
    background-color: $black;
    color: $white;
    font-family: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/grid.jpeg');
}

.root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sw {
    font-family: $aurebesh;
}

.App {
    height: 768px;
    width: 1024px;
    background-color: $greenTransparent;
    border:  2px solid $green;
    border-radius: 16px;
}

.settings-cog, .home-icon {
    font-size: 16px;
    position: absolute;
    text-align: right;
    .logout-link {
        display: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    }
    &:hover {
        color: $teal;
        cursor: pointer;
        .logout-link {
            display: inline-block;
            color: $white;
            &:hover {
                color: $teal;
            }
        }
    }
}

.settings-cog {
    top: 16px;
    right: 16px;
}

.home-icon {
    top: 16px;
    left: 16px;
}