.mission-control {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.village {
    max-height: 100vh;
    max-width: 100vw;
    border: 16px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

.rules, .park {
    height: 128px;
    width: 256px;
}

.rules {
    background-color: #ff0000;
}

.park {
    background-color: #00ff00;
}

.street {
    background-color: #777;
}

.wall {
    background-color: #000;
}

.businessScene {
    background-color: #0000ff;
    height: 128px;
    width: 640px;
}

.darkShroud {
    background-color: #000;
    height: 128px;
    width: 576px;
}

.sithTemple {
    background-color: #006666;
    height: 128px;
    width: 128px;
}

.vert.four {
    height: 128px;
}

.vert {
    width: 32px;
}

.horiz {
    height: 32px;
}

.houses-container {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.house {
    flex: 1 1 33.33%;
    display: inline-block;
    width: 33.33vw;
    height: 33.33vh;
}

.village-character {
    position: absolute;
    transition: left 0.1s linear;
    height: 64px;
}