.mission-control {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.houses-container {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.house {
    flex: 1 1 33.33%;
    display: inline-block;
    width: 33.33vw;
    height: 33.33vh;
}

.village-character {
    position: absolute;
    transition: left 0.1s linear;
    top: 0;
    left: 0;
    height: 96px;
}