.navItem {
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border: 2px solid $white;
    border-radius: 100%;
    text-align: center;
    margin: 0 10px;

    a {
        color: $white;
    }

    &.homeIcon {
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        width: 48px;
    }

    &:hover {
        color: $tealBlack;
        cursor: pointer;
        background-color: $white;
    }
    &.true {
        background-color: $white;
        a {
            color: $tealBlack;
        }
    }
}

// .settings-cog, .home-icon {
//     .logout-link {
//         display: none;
//         text-transform: uppercase;
//         font-size: 12px;
//         letter-spacing: 2px;
//     }
    
// }

// .pageNav {
//     display: flex;
//     justify-content: center;
//     margin: 20px;
//     .pageNavItem {
//         text-transform: uppercase;
//         font-size: 0.8em;
//         margin: 0 12px;
//         letter-spacing:  2px;
//         padding: 0 6px;
//         color: $tealBright;
//         &.true {
//             border-bottom: 2px solid $tealBright;
//             font-weight: bold;
//         }
//         &:hover {
//             color: $teal;
//             border-color: $teal;
//             cursor: pointer;
//         }
//     }
// }