@import 'variables';

.User {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .profileDetail {
        display: flex;
        margin: 24px;
        .icon {
            height: 70px;
            width: 70px;
            border: 2px solid $white;
            color: $white;
            p {
                font-size: 50px;
                line-height: 70px;
                text-align: center;
            }
        }
        .value p {
            background-color: $white;
            color: $black;
            height: 25px;
            width: 280px;
            line-height: 25px;
            text-transform: uppercase;
            padding: 0 12px;
            &.sw {
                background: none;
                color: $yellowFaded;
            }
        }   
    }
}

.userLink {
    &:hover {
        cursor: pointer;
        color: $yellow;
    }
}