@import 'variables';

.Users {
    margin-top: 24px;
}

.User {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .profileDetail {
        display: flex;
        margin: 24px;
        .icon {
            height: 70px;
            width: 70px;
            border: 2px solid $white;
            color: $white;
            p {
                font-size: 50px;
                line-height: 70px;
                text-align: center;
            }
        }
        .value p {
            background-color: $white;
            color: $black;
            height: 25px;
            width: 280px;
            line-height: 25px;
            text-transform: uppercase;
            padding: 0 12px;
            &.sw {
                background: none;
                color: $yellowFaded;
            }
        }   
    }
}

.userLink {
    &:hover {
        cursor: pointer;
        color: $yellow;
    }
}

// ===== FIND FRIEND PAGE ===== //
.friendButton {
    background-color: $green;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &.false {
        background-color: $teal;
        &:hover {
            cursor: pointer;
        }
    }
}