@import '../../styles/variables.scss';

.Contacts {
  h1 {
    padding: 12px;
  }
  .contacts-list p {
    padding: 12px;
    a {
      color: $teal;
      &:hover {
        color: $orange;
      }
    }
  }
}