@import '../../styles/variables';

.Astrogation {
  padding: 2vh;
  box-sizing: border-box;
  h1 {
    margin-bottom: 2vh;
    text-align: center;
  }
  
  .astrogation-content {
    display: flex;
    width: 100%;
    height: 85vh;
    .map-image {
      max-width: 50%;
      max-height: 100%;
      flex: 1;
      
      img {
        max-width: 100%;
        max-height: 100%;
      }

      #THE_COMMONALITY {
        width: 100%;
      }
    }
    .astrogation-check {
      flex: 1;
      height: 85vh;
      overflow-y: scroll;
    }
    .astrogation-form {
      display: flex;
      justify-content: center;
      align-items: start;
      flex: 1;
      padding: 2vh;
      .label {
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 6px 0;
      }
      select {
        border: 1px solid $white;
        border-radius: 2px;
        color: $white;
        padding: 6px;
      }
      button {
        display: block;
        margin: 0 2vh;
        background-color: $teal;
        color: $white;
        border: none;
        outline: none;
        padding: 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
          background-color: $orange;
        }
      }
    }
    .astrogation-results {
      padding: 0 2vh;
    }
  }
}

.route-table {
  width: 100%;
  th.table-heading {
    border: 2px solid $white;
    border-bottom: 10px double $white;
    font-size: 1.25em;
    padding: 8px;
    text-align: left;
  }
  th {
    font-weight: bold;
    text-align: center;
  }
  .route-description {
    td, th {
      border-left: 2px solid $white;
      border-right: 2px solid $white;
      padding: 4px 8px;
      text-align: left;
    }
  }
  .route-data {
    td {
      border-bottom: 2px solid $white;
    }
    td, th {
      border-left: 2px solid $white;
      border-right: 2px solid $white;
      text-align: center;
      padding: 2px 4px 4px 4px;
    }
  }
}

// SVG MAP STYLES //

#Background {
  fill: $black;
}

#Sectors {
  path {
    fill: grey;
    opacity: 0.25;
    stroke: white;
  }
}

#Regions {
  stroke: $white;
  opacity: 0.1;
  #Outer_Rim {
    fill: none;
  }
  #Mid_Rim {
    fill: $black;
  }
}

#Controlled_Regions {
  #Tion_Cluster {
    fill: $eoteMaroon;
    opacity: 0.5;
  }
  #The_Commonality {
    fill: $eoteGreen;
    opacity: 0.5;
  }
}

#Hexes {
  fill: none;
  stroke: $green;
  opacity: 0.25;
  stroke-width: 2px;
}

#Grid_Lines line {
  fill: none;
  stroke: $green;
  opacity: 0.25;
  stroke-width: 4px;
}

#Hyperlanes {
  path {
    fill: none;
  }
  #Major path {
    stroke: $teal;
    stroke-width: 16px;
  }
  #Standard path {
    stroke: $teal;
    stroke-width: 10px;
  }
  #Minor path {
    stroke: $teal;
    stroke-width: 8px;
  }
}

#Planet_Nodes circle {
  r: 15px;
  fill: $orange;
}

#Link_Nodes rect {
  fill: $yellow;
  height: 20px;
  width: 20px;
}

#Grid_Labels path {
  fill: $white;
  opacity: 0.25;
}

#Sector_Labels path {
  fill: $white;
  opacity: 0.5;
}

#Hyperlane_Labels path {
  fill: $teal;
}

#Planet_Labels {
  fill: $orange;
}

#Link_Labels {
  fill: $yellow;
}