@import '../../styles/variables.scss';

.pc-bar {
  display: flex;
  width: 100%;
  overflow-x: scroll;

  .character-hud {
    width: fit-content;
    height: fit-content;
    svg {
      height: auto;
      width: 15vw;
    }
  }
}
.pc-box {
  color: $white;
  display: flex;
  padding: 12px;
  .pc-image {
    height: 10vh;
    display: flex;
    img {
      max-height: 100%;
    }
  }
  .pc-info {
    padding-left: 6px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
  .strain, .wounds {
    color: $teal;
    display: inline-block;
    margin-top: 4px;
    font-size: 0.8em;
    display: flex;
    i {
      margin-right: 1px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .wounds {
    color: $green;
  }
}

h1.section-title {
  text-decoration: underline;
  padding: 12px;
}
.character-list {
  padding: 12px;
  .character-link i {
    display: inline-block;
    width: 18px;
    text-align: center;
  }
  p {
    line-height: 1.5em;
  }
  a {
    color: $teal;
    &:hover {
      color: $orange;
    }
  }
}

// ===== CHARACTER SHOW PAGE ===== //
.CharacterShowPage {
  position: relative;
  h1 {
    text-align: center;
    padding: 12px;
    padding-bottom: 0;
    font-size: 1.5;
  }
  .id {
    text-align: center;
    font-size: 1.2em;
  }
  .edit-character-button {
    cursor: pointer;
    padding: 12px;
    position: fixed;
    top: 24px;
    right: 24px;
    font-size: 1.5em;
    color: $white;
    &:hover {
      color: $teal;
    }
  }
  .basic-info {
    padding: 12px;
    display: flex;
    .character-image {
      height: 12em;
      img {
        max-height: 100%;
      }
      i {
        font-size: 12em;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 6px;
      h2, p {
        line-height: 1.5em;
      }
      h2 {
        font-size: 1.7em;
      }
    }
  }
  .status {
    padding: 0 12px;
    .strain, .wounds {
      margin: 6px 0;
      color: $teal;
      display: inline-block;
      margin-top: 4px;
      font-size: 0.8em;
      display: flex;
      .fa-minus, .fa-plus {
        cursor: pointer;
      }
      i {
        margin-right: 1px;
      }
    }
    .wounds {
      color: $green;
    }
  }

  .attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    .attribute {
      display: flex;
      flex-wrap: wrap;
      background-color: $white;
      border: 6px double $black;
      align-self: start;
      width: 20%;
      margin: 0 12px;
      
      &.soak {
        .value, .sublabel {
          flex: 0 0 100%;
        }
      }
      
      p {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8em;
      }
      .label {
        width: 100%;
        text-align: center;
        background-color: $eoteNavy;
        padding: 3px;
        box-sizing: border-box;
      }
      .value {
        flex: 1 1 50%;
        color: $black;
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        box-sizing: border-box;
        &.threshold {
          border-right: 1px solid $black;
        }
      }
      .sublabel {
        flex: 1 1 50%;
        text-align: center;
        padding: 3px;
        box-sizing: border-box;
        &.current {
          background-color: $eoteTeal;
          color: $black;
        }
        &.threshold {
          background-color: $eoteMaroon;
        }
      }
    }
  }
  
  .characteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .characteristic {
      border: none;
      width: auto;
      background-color: $eoteOlive;
      .value {
        border-radius: 100%;
        background-color: $whiteFaded;
        color: $black;
        height: 40px;
        width: 40px;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        border: 6px double $black;
        margin: 4px 0;
      }
      .label {
        background-color: $eoteMaroon;
        color: $white;
        font-size: 12px;
        letter-spacing: 2px;
        padding: 3px;
        text-align: center;
      }
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
    
    .category {
      margin: 0 24px;
      h3 {
        margin-left: 6px;
        margin-top: 12px;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
    
    .skill {
      display: flex;
      justify-content: space-between;
      line-height: 1.2em;
      font-size: 0.8em;
      align-items: center;
      border-bottom: 1px dotted $whiteFaded;
      border-right: 1px solid $whiteFaded;
      border-left: 1px solid $whiteFaded;
      padding: 4px 6px;
      div {
        margin-right: 12px;
      }
      &:first-child {
        border-top: 1px solid $whiteFaded;
      }
      &:last-child {
        border-bottom: 1px solid $whiteFaded;
      }
      .fas, .fa-regular {
        opacity: 0.65;
        margin-right: 6px;
      }
      .fa-circle-check {
        color: $green;
      }
      .fa-circle {
        color: $white;
      }
      
    }
  }
  .associates {
    h3 {
      text-decoration: underline;
      margin-bottom: 12px;
    }
    padding: 12px;
  }
}

// ===== CHARACTER FORM ===== //
.CharacterForm {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  .form-sections {
    border: 1px solid $white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 6px;
    .submit-button {
      text-align: center;
      background-color: $green;
      margin: 24px 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: center;
      justify-self: center;
      &:hover {
        color: $white;
        background-color: darken($green, 10%);
      }
    }
    a {
      padding: 6px;
      color: $white;
      cursor: pointer;
      &.active-true {
        color: $black;
        background-color: $white;
      }
      &:hover {
        color: $teal;
      }
    }
  }

  .Background, .Species {
    width: 100%;
  }

  .Obligation, .Motivation {
    width: 100%;
    .obligations, .motivations {
      display: flex;
      flex-direction: column;
      .obligation, .motivation {
        display: flex;
        flex-wrap: wrap;
      }
      
    }
  }
}

// SKILL TRACK
.SkillTrack {
  height: 10px;
  .skill {
    opacity: 0.2;
    &.true {
      opacity: 0.65;
    }
  }
  .Skill_1 {
    fill: $yellow;
  }
  .Skill_2 {
    fill: $green;
  }
  .Skill_3 {
    fill: $eoteGreen;
  }
  .Skill_4 {
    fill: $blue;
  }
  .Skill_5 {
    fill: $teal;
  }
}
